.app {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 10%;
  box-sizing: border-box;
}


.search-form__input {
  width: 600px;
  height: 30px;
  padding: 0 20px;
  font-size: 18px;
  outline: none;
  border: 1px solid #333;
}

.search-form__input:focus {
  border-color: rgb(173, 173, 173);
}

.autocomplete-list {
  padding: 0;
  margin: -1px 0 0 0;
  list-style: none;
  border: 1px solid rgb(173, 173, 173);
}

.autocomplete-list__item {
  min-height: 20px;
  padding: 5px 20px;
  line-height: 1.5em;
  outline: none;
}

.autocomplete-list__item:focus {
  background-color: rgb(230, 230, 228);
}
